ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  color: #FFF;
}
ul .fa-solid {
  color: #FFF;
}

li {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 7px;
}
li a {
  list-style-type: none;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 7px;
}
li .size {
  font-weight: 500;
}

@media screen and (min-width: 1024px) {
  footer {
    width: auto;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    height: 114px;
    padding: 30px 25px;
  }
  footer h3 {
    margin: 0px 0px 2px 0px;
    width: 139px;
    height: 27px;
  }
  footer ul {
    display: flex;
    position: relative;
    gap: 6px;
  }
  footer li {
    width: 130px;
    height: 20px;
  }
  footer .size {
    width: 190px;
    height: 19px;
  }
}
.fa-utensils {
  margin-right: 11px;
}

.fa-handshake-angle {
  margin-right: 5px;
}

@media screen and (min-width: 1024px) {
  .btn {
    width: 28%;
    margin-left: 33%;
  }
}
@media screen and (min-width: 1440px) {
  .background {
    width: 72%;
    margin: 0px 192px 0px 193px;
  }
}
@media screen and (min-width: 1440px) {
  img {
    width: 100%;
    height: 520px;
    object-fit: cover;
  }
}
@media screen and (min-width: 1440px) {
  h2 {
    justify-content: center;
  }
}
@media screen and (min-width: 1440px) {
  .like .heart-empty,
  .like .heart-full {
    font-size: 22px;
  }
}
h2 {
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

a {
  text-decoration: none;
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

body {
  margin: 0px;
  width: 100%;
}

header {
  display: flex;
  height: 113px;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.logoposition {
  display: flex;
  width: 100%;
  height: 63px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.logoposition img {
  width: 45%;
  height: 36px;
  padding: 0px 19px 0px 16px;
}

.position {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background: #EAEAEA;
}
.position input {
  background: none;
  border: none;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

i.fa-solid.fa-location-dot {
  padding-left: 70px;
}

input::placeholder {
  color: #353535;
}

i {
  color: #353535;
}

@media screen and (min-width: 1024px) {
  .logoposition {
    height: 93px;
  }
}
.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--Background, #F6F6F6);
}
.nav h2 {
  width: 100%;
  height: 68px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 39px 0px 0px 0px;
}

.nav p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 46px;
  margin: 0px 0px 27px 0px;
}

.btn {
  display: block;
  margin: auto;
  width: 55%;
  height: 50px;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  border-style: none;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 57px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.85;
}

@media screen and (min-width: 1024px) {
  .btn {
    width: 28%;
  }
}
@media screen and (min-width: 1024px) {
  .nav h2 {
    display: inline;
  }
  .nav p {
    display: inline;
    text-align: center;
  }
  .nav .btn {
    width: 218px;
    height: 50px;
  }
}
/* functioning */
.functioning {
  margin: 48px 0px 53px 20px;
}
.functioning .list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  width: 95%;
  height: 72.379px;
  border-radius: 20px;
  background: var(--Background, #F6F6F6);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.functioning p {
  padding: 23px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.functioning .fa-solid {
  color: #7E7E7E;
}

.functioning .fa-solid:hover {
  color: #9356DC;
}

.circle {
  border-radius: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  background: #9356DC;
  color: white;
  position: absolute;
  left: 10px;
}

@media screen and (min-width: 1024px) {
  .functioning {
    margin: 0px;
    padding: 50px 100px;
  }
  .functioning h2 {
    margin-bottom: 25px;
  }
  .functioning p {
    padding: 16px;
  }
  .container {
    display: flex;
    gap: 36.5px;
  }
  .list {
    width: 322.486px;
    height: 72.379px;
  }
  .circle {
    position: relative;
    left: -6%;
  }
}
@media screen and (min-width: 1440px) {
  .functioning {
    padding: 50px 180px;
  }
  .circle {
    left: -18%;
  }
}
.restaurants {
  background: var(--Background, #F6F6F6);
  padding-top: 54px;
  padding-bottom: 66px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.restaurants h2 {
  padding-left: 20px;
}
@media screen and (min-width: 1024px) {
  .restaurants h2 {
    padding-left: 100px;
  }
}
.restaurants .groupe1 {
  padding-left: 17px;
  padding-right: 17px;
}
.restaurants .cards-restaurants {
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 18px;
}
@media screen and (min-width: 1024px) {
  .restaurants .cards-restaurants {
    width: 37%;
  }
}
.restaurants .card {
  position: relative;
}

@media screen and (min-width: 1440px) {
  .restaurants {
    padding: 0px 180px 0px 180px;
  }
  .restaurants h2 {
    padding-left: 0px;
  }
  .restaurants .groupe1 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .restaurants .cards-restaurants {
    width: 46%;
  }
}
.img-size {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.badge {
  background: #99E2D0;
  position: absolute;
  border-radius: 3px;
  top: 25px;
  left: 73.5%;
  width: 75px;
  height: 26px;
}

@media screen and (min-width: 1024px) {
  .badge {
    top: 29px;
    left: 74.5%;
  }
}
@media screen and (min-width: 1440px) {
  .badge {
    left: 80.5%;
  }
}
p.new {
  color: #008766;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-top: 6px;
}

.card-text {
  padding-left: 13px;
}
.card-text h3 {
  margin: 0px;
  padding-top: 16px;
}
.card-text p {
  margin: 0px;
  margin-top: 5px;
  padding-bottom: 16px;
}

.like {
  position: absolute;
  left: 88%;
  bottom: 15%;
}

.like i {
  position: absolute;
}

.heart-empty {
  opacity: 1;
}

.heart-full {
  opacity: 0;
}

.heart-empty:hover {
  opacity: 0;
}

.heart-full:hover {
  opacity: 1;
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: background-size 0.5s ease-in-out;
}

@keyframes fillHeart {
  from {
    background-position: 0% 100%;
  }
  to {
    background-position: 0% 0%;
  }
}
@media screen and (min-width: 1024px) {
  .groupe1 {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 50px;
  }
  .cards-restaurants {
    width: 33%;
  }
}
footer {
  padding: 22px 25px;
  background: #353535;
}
footer h3 {
  margin: 0px 0px 16px 0px;
  height: 27px;
  color: #FFF;
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
}

/*# sourceMappingURL=accueil.css.map */
