ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  color: #FFF;
}

ul .fa-solid {
  color: #FFF;
}

li {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 7px;
}

li a {
  list-style-type: none;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 7px;
}

li .size {
  font-weight: 500;
}

@media screen and (min-width: 1024px) {
  footer {
    width: auto;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    height: 114px;
    padding: 30px 25px;
  }

  footer ul {
    display: flex;
    position: relative;
    gap: 6px;
  }

  footer li {
    width: 130px;
    height: 20px;
  }

  footer .size {
    width: 190px;
    height: 19px;
  }
}

.fa-utensils {
  margin-right: 11px;
}

.fa-handshake-angle {
  margin-right: 5px;
}

@media screen and (min-width: 1024px) {
  .btn {
    width: 28%;
    margin-left: 33%;
  }
}

@media screen and (min-width: 1440px) {
  .img-size {
    width: 100%;
    height: 520px;
    object-fit: cover;
  }
}

body {
  margin: 0%;
}

header {
  display: flex;
  width: 375px;
  height: 63px;
  padding: 14px 0px 13px 0px;
  align-items: center;
  gap: 42px;
}

@media screen and (min-width: 1440px) {
  header {
    gap: 572px;
  }
}

header .retour {
  padding-left: 17px;
}

header .fa-solid {
  width: 30px;
  height: 30px;
  text-decoration: none;
  color: #353535;
}

main img {
  width: 100%;
}

.background {
  margin-top: -74px;
  border-radius: 20px 20px 0px 0px;
  background: #F6F6F6;
  position: relative;
  min-height: 100%;
}

@media screen and (min-width: 1024px) {
  .background {
    margin-top: -135px;
  }
}

@media screen and (min-width: 1440px) {
  .background {
    width: 73%;
    margin: -68px 192px 0px 193px;
  }
}

h2 {
  display: flex;
  justify-content: space-between;
  padding: 32px 17px 0px;
  color: #101010;
  font-family: Shrikhand;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}

@media screen and (min-width: 1440px) {
  h2 {
    justify-content: center;
  }
}

.like .heart-align {
  margin-left: 10px;
}

.like .heart-empty,
.like .heart-full {
  position: absolute;
  right: 5%;
  top: 3.5%;
  transition: opacity 0.5s ease-in-out, background-size 0.5s ease-in-out;
  font-size: 22px;
}

@media (min-width: 1440px) {

  .like .heart-empty,
  .like .heart-full {
    top: 3.5%;
    right: 33%;
  }
}

.like .heart-empty {
  opacity: 1;
}

.like .heart-empty:hover {
  opacity: 0;
}

.like .heart-full {
  opacity: 0;
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 100% 0;
  transition: opacity 0.5s ease-in-out, background-size 0.5s ease-in-out;
}

.like .heart-full:hover {
  opacity: 1;
  background-size: 100% 100%;
  animation: fillHeart 0.5s ease-in-out forwards;
}

@keyframes fillHeart {
  from {
    background-size: 100% 0;
  }

  to {
    background-size: 100% 100%;
  }
}

main h3 {
  color: #101010;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  margin: 40px 0px 12px 13px;
}

@media screen and (min-width: 1440px) {
  main h3 {
    margin-left: 19%;
  }
}

main h3.title1:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
  margin-bottom: -7px;
  height: 3px;
  background-color: #99E2D0;
}

main h3.title2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  margin-bottom: -5px;
  height: 3px;
  background-color: #99E2D0;
}

main h3.title3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  margin-bottom: -5px;
  height: 3px;
  background-color: #99E2D0;
}

article {
  border-radius: 15px;
  margin: 12px 13px;
  width: 94%;
  height: 69px;
  background: #FFF;
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  animation: slideInUp 1s ease-in;
}

@media screen and (min-width: 1440px) {
  article {
    width: 63%;
    margin: 12px 192px;
  }
}

article:nth-child(1) {
  animation-delay: 0s;
}

article:nth-of-type(2) {
  animation-delay: 50ms;
}

article:nth-of-type(3) {
  animation-delay: 100ms;
}

article h4 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  padding: 15px 0px 5px 15px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

article p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: normal;
  padding: 0 0 15px 15px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

article .price,
article .checkbox {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: margin-right 0.5s ease-in-out;
}

article .price {
  padding-right: 15px;
  padding-top: 15px;
  font-weight: 700;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

article .checkbox {
  margin-right: -60px;
  background: #99E2D0;
  color: #99E2D0;
  width: 59px;
  height: 69px;
  border-radius: 0px 15px 15px 0px;
}

article:hover .checkbox {
  margin-right: 0px;
}

article:hover .price {
  transform: translateX(-60px);
}

article:hover h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50%;
  padding-right: 60px;
  transition: max-width 0.5s ease-in-out, padding-right 0.5s ease-in-out;
}

article:hover p {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50%;
  padding-right: 60px;
  transition: max-width 0.5s ease-in-out, padding-right 0.5s ease-in-out;
}

article i {
  background-color: #FFF;
  border-radius: 50%;
  width: 45%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

article i.fa-solid.fa-check {
  display: inline-flex;
}

@keyframes slideInUp {
  0% {
    transform: translateY(100%) scale(0);
    opacity: 0;
  }

  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

button {
  display: block;
  margin: auto;
  width: 55%;
  height: 50px;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  border-style: none;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  button {
    margin: 0% 35%;
  }
}

button:hover {
  opacity: 0.85;
}

.btn {
  margin-top: 40px;
  padding-bottom: 40px;
}

footer {
  background: #353535;
  padding: 22px 25px;
}

footer h3 {
  margin: 0px 0px 16px 0px;
  height: 27px;
  color: #FFF;
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
}

@media screen and (min-width: 1024px) {
  footer h3 {
    margin: 0px 0px 2px 0px;
    width: 139px;
    height: 27px;
  }
}

.slidetestoverflow {
  max-width: 150px;
}

/*# sourceMappingURL=restaurants.css.map */