//mixin des pages restaurants
//header
@mixin header {
    display: flex;
    width: 375px;
    height: 63px;
    padding: 14px 0px 13px 0px;
    align-items: center;
    gap: 42px;

    @media screen and (min-width:1024px) {
        width: 100%;

        img {
            max-width: 1024px;
            margin: auto;

        }
    }

    .retour {
        padding-left: 17px;
    }

    .fa-solid {
        width: 30px;
        height: 30px;
        text-decoration: none;
        color: $footer;
    }

}

//main image de présentation image
@mixin main {
    .img-size {
        width: 100%;
        height: 275px;
        object-fit: cover;

        @media screen and (min-width:1024px) {
            height: 450px;
        }

        @media screen and (min-width: 1440px) {
            width: 100%;
            height: 500px;
        }
    }
}

//background restaurant
@mixin background {

    margin-top: -60px;
    border-radius: 20px 20px 0px 0px;
    background: $grey-light;
    position: relative;
    min-height: 100%;

    @media screen and (min-width:1024px) {
        margin-top: -25px;
        max-width: 1080px;
        margin-left: auto;
        margin-right: auto;

    }

    @media screen and (min-width:1440px) {
        max-width: 1080px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -50px;


    }
}

//like pour restaurant
@mixin like {
    .heart-align {
        margin-left: 10px;
    }

    .heart-empty,
    .heart-full {
        position: absolute;
        right: 5%;
        top: 3.5%;
        transition: opacity 0.5s ease-in-out, background-size 0.5s ease-in-out;
        font-size: 22px;

        @media (min-width: 1024px) {
            right: 33%
        }

        @media (min-width: 1440px) {
            top: 3.5%;
            right: 33%;
        }
    }

    .heart-empty {
        opacity: 1;
        background-size: 100% 100%;
        background-position: 0% 0%;
    }

    .heart-full {
        opacity: 0;
        background-image: linear-gradient(to bottom, $main-purple, $secondary-pink);
        background-clip: text;
        color: transparent;
        background-size: 100% 0%;
        background-position: 0% 100%;
        transition: opacity 0.5s ease-in-out, background-size 0.5s ease-in-out;

        &:hover {
            opacity: 1;
            background-size: 100% 100%;
        }
    }
}


//h2 Grand titre Palette du goût
@mixin h2 {
    display: flex;
    justify-content: space-between;
    padding: 32px 17px 0px;
    color: $black-title;
    font-family: Shrikhand;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;

    @media (min-width: 1024px) {
        justify-content: center;
    }

    @media screen and (min-width:1440px) {
        justify-content: center;

    }
}


//h3 souslignement
@mixin h3 {
    color: $black-title;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    margin: 40px 0px 12px 13px;

    @media screen and (min-width:1024px) {
        margin-left: 18%;
    }

    @media screen and (min-width:1440px) {
        margin-left: 18%;
    }

    &.title1:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 60%;
        margin-bottom: -7px;
        height: 3px;
        background-color: $tertiary-green;
    }

    &.title2:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 90%;
        margin-bottom: -5px;
        height: 3px;
        background-color: $tertiary-green;
    }

    &.title3:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        margin-bottom: -5px;
        height: 3px;
        background-color: $tertiary-green;
    }
}

//section article
@mixin article {
    border-radius: 15px;
    margin: 12px 13px;
    width: 94%;
    height: 69px;
    background: $color-white;
    box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.10);
    position: relative;
    overflow: hidden;

    @media screen and (min-width:1024px) {
        width: 65%;
        margin: 12px 192px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width:1440px) {
        width: 65%;
        margin: 12px 192px;
        margin-left: auto;
        margin-right: auto;
    }

    //fin de section article
    // Animation slideInUp
    animation: slideInUp 1s ease-in;

    // Animation delay pour chaque article
    &:nth-child(1) {
        animation-delay: 0s;
    }

    &:nth-of-type(2) {
        animation-delay: 50ms;
    }

    &:nth-of-type(3) {
        animation-delay: 100ms;
    }

    & h4 {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        padding: 15px 0px 5px 15px;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    & p {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 300;
        line-height: normal;
        padding: 0 0 15px 15px;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    // Style du prix et de la checkbox
    & .price,
    .checkbox {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: margin-right 0.5s ease-in-out;
    }

    // Style du prix
    & .price {
        padding-right: 15px;
        padding-top: 15px;
        font-weight: 700;
        transform: translateX(0);
        transition: transform 0.5s ease-in-out;
        font-family: roboto;
    }

    // Style de la checkbox
    & .checkbox {
        margin-right: -60px;
        background: $tertiary-green;
        color: $tertiary-green;
        width: 59px;
        height: 69px;
        border-radius: 0px 15px 15px 0px;
    }

    // Effet de hover pour la checkbox
    &:hover .checkbox {
        margin-right: 0px;
    }

    &:hover .price {
        transform: translateX(-60px);

    }

    &:hover {

        // Style du titre h4
        h4 {
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 50%;
            padding-right: 60px;
            transition: max-width 0.5s ease-in-out, padding-right 0.5s ease-in-out;
        }

        // Style du paragraphe p
        p {
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 50%;
            padding-right: 60px;
            transition: max-width 0.5s ease-in-out, padding-right 0.5s ease-in-out;
        }
    }

    & i {
        background-color: $color-white;
        border-radius: 50%;
        width: 45%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    i.fa-solid.fa-check {
        display: inline-flex;
    }

    // Animation keyframes slideInUp
    @keyframes slideInUp {
        0% {
            transform: translateY(100%) scale(0);
            opacity: 0;
        }

        100% {
            transform: translateY(0) scale(1);
            opacity: 1;
        }
    }
}




@mixin button {
    display: block;
    margin: auto;
    width: 55%;
    height: 50px;
    border-radius: 25px;
    background: var(--Button-Gradient, linear-gradient(193deg, $main-purple -11.44%, $secondary-pink 123.93%));
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    color: $color-white;
    border-style: none;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;

    @media screen and (min-width:1440px) {
        margin: 0% 35%;
    }

    &:hover {
        opacity: 0.85;
    }
}

@mixin btn {
    margin-top: 40px;
    padding-bottom: 40px;

    @media screen and (min-width:1024px) {
        width: 28%;
        margin-left: auto;
        margin-right: auto;
    }
}

@mixin footer {
    background: $footer;
    padding: 22px 25px;

    h3 {
        margin: 0px 0px 16px 0px;
        height: 27px;
        color: $color-white;
        font-family: Shrikhand;
        font-size: 18px;
        font-weight: 400;

    }

    ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        color: $color-white;

        .fa-solid {
            color: $color-white;
        }
    }

    li {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 7px;

        a {
            list-style-type: none;
            text-decoration: none;
            padding: 0px;
            margin: 0px;
            color: $color-white;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 7px;
        }

        .size {
            font-weight: 500;
        }
    }

    @media screen and (min-width:1024px) {
        width: auto;
        display: flex;
        align-items: flex-end;
        flex-direction: row-reverse;
        height: 114px;
        padding: 30px 25px;

        h3 {
            margin: 0px 0px 2px 0px;
            width: 139px;
            height: 27px;
        }

        ul {
            display: flex;
            position: relative;
            gap: 6px;
        }

        li {
            width: 130px;
            height: 20px;
        }

        .size {
            width: 190px;
            height: 19px;
        }
    }


    .fa-utensils {
        margin-right: 11px;
    }

    .fa-handshake-angle {
        margin-right: 5px;
    }
}