    //Principal
    $main-purple: #9356DC;
    $secondary-pink: #FF79DA;
    $tertiary-green: #99E2D0;
    $badge-text-color: #008766;

    //secondary
    $grey-light: #F6F6F6;
    $footer: #353535;
    $black-title: #101010;
    $grey-icon: #7E7E7E;
    $color-white: #FFF;