@import './variable';
@import './mixins';

//logo du site + redirection

body {
    margin: 0%;
}

header {
    @include header;
}

//image de présentation
main img {
    width: 100%;
}

//background
.background {
    @include background;
}

//main 
h2 {
    @include h2;
}

.like {
    @include heart;
}

main h3 {
    @include h3;
}

article {
    @include list;
}

button {
    @include button;
}

.btn {
    @include btn;
}

footer {
    @include footer;
}

//revoir à quoi corrspond le.slide
.slidetestoverflow {
    max-width: 150px;
}